h1 {
  color: black;
  text-align: center;
}


h2 {
  color: black;
  text-align: center;
}

form {
	text-align: center;
}

OnTime {
	text-align: center;
}

.container1 {
  float: left;
}

#graph1 {
    float:left;
	overflow:hidden;
}

#graph2 {
    float:right;
	overflow:hidden;
}